Options +FollowSymlinks
RewriteEngine On

RewriteRule ^((?!^index.php)(?!^ressource)(?!^scripts)(?!^Pages)[a-z,A-Z,_,-]+)$ index.php?page=$1 [L]
RewriteRule ^((?!^index.php)(?!^ressource)(?!^scripts)(?!^Pages)[a-z,A-Z,_,-]+)/([a-z,A-Z,_,-]+)$ index.php?page=$1&subPage=$2 [L]
RewriteRule ^((?!^index.php)(?!^ressource)(?!^scripts)(?!^Pages)[a-z,A-Z,_,-]+)/([a-z,A-Z,_,-]+)/(.*)$ index.php?page=$1&subPage=$2&id=$3 [L]
