form{
	width:70%;
	margin: auto;
	vertical-align:middle;
}

form label{
	display:inline-block;
	float:left;
	width:auto;
	border-top:1px solid #C8C8C8;
	border-left:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;
	max-height:34px;
	min-height:34px;
	vertical-align:middle;
}

form input[type=text], form input[type=password], form input[type=email]{
	display:block;
	position:relative;
	right:0;
	
	border-radius:0;
	border-top:1px solid #C8C8C8;
	border-bottom:1px solid #C8C8C8;
	border-right:1px solid #C8C8C8;
	border-left:0px solid #C8C8C8;
	max-height:32px;
	min-height:32px;
}

form input[type=submit]{
	width:100%;
}

